body{
    background-color: #fef4f4;
    font-family: "Briem Hand", cursive, sans-serif;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:120px auto;
    width:60%;

}

header {
    margin-bottom: 50px;
}

h1 {
  font-family: "Briem Hand", cursive;
  font-size: 36px;
  line-height: 1.5;
  color:rgb(78, 69, 69);
  text-align: center;
}

form {
    padding:30px;
    background-color: #ffff;
    border-radius: 5px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 30px;
}

.instructions {
    padding:16px;
    border:1px solid rgb(65, 65, 75);
    width:80%;
    font-size: 16px;
    line-height: 20px;
    border-radius: 30px;
    color:rgb(65, 65, 75);
}

.instructions::after {
    border:1px solid rgb(65, 65, 75);
}

.submit-button {
    margin-left: 10px;
    background-color: #fc325e;
    border: none;
    font-size: 16px;
    color:#ffff;
    border-radius: 50px;
    padding: 14px 24px;
}

#poem {
    font-size: 16px;
    background-color: #ffff;
    padding:20px;
    line-height: 1.8;
    border-left: 3px solid #fc325e ;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;
}

.poem strong {
        border-left: 3px solid #fc325e ;
}

footer{
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
}